.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  /* width: 100%; */
  /* margin: 0 auto; */
  /* padding: 1rem; */
  /* background-color: #fff; */
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);

  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // color: red;
  }

  a {
    margin: 0 0.2rem;
    :hover {
      /* Aumenta a saturação e o brilho */
    filter: brightness(1.2) saturate(1.5);
    /* Adiciona uma transição suave para suavizar a mudança */
    transition: filter 0.2s ease-in-out;
    }
  }
}