---
import { Icon } from "astro-icon";
import "../style/global.scss";
export interface Props {
  title: string;
}

import i18next, { t } from "i18next";
import { Trans, HeadHrefLangs } from "astro-i18next/components";

import { theme } from "../state/store";
import Footer from "../components/layout/footer/Footer.astro";
import Navbar from "../components/layout/Navbar/Navbar.astro";

import { ViewTransitions } from "astro:transitions";

const { title } = Astro.props;
---

<!DOCTYPE html>
<!-- dark, forest, emerald -->
<html lang="en" data-theme="forest">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <!-- <link href="https://cdn.jsdelivr.net/npm/daisyui@1.16.3/dist/full.css" rel="stylesheet"> -->


    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <Navbar />
    <main>
      <slot />
    </main>
    <Footer/>
    <dialog id="modal" class="modal">
      <div class="modal-box">
        <h3 class="font-bold text-lg">Hello!</h3>
        <p class="py-4">Press ESC key or click the button below to close</p>
        <div class="modal-action">
          <form method="dialog">
            <!-- if there is a button in form, it will close the modal -->
            <button class="btn">Close</button>
          </form>
        </div>
      </div>
    </dialog>
  </body>
  <js style="display: none;">
    <script src="https://unpkg.com/hyperscript.org@0.9.11"></script>
    <script
      src="https://unpkg.com/htmx.org@1.9.5"
      integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO"
      crossorigin="anonymous"></script>
      <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
      <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

  </js>
</html>

<style lang="scss" is:global>
  :root {
    /* --accent: 124, 58, 237; */
    /* --accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%); */
  }
  html,
  body {
    margin: 0;
    height: auto;
    /* font-family: system-ui, sans-serif; */
    /* background-color: #F6F6F6; */
  }
  main {
    // width: 100%;
    min-height: 80vh;
    margin: 1rem;
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  
</style>

<script>
  document.addEventListener("keydown", function(event) {
  // Verifica se a tecla pressionada é a tecla de espaço (espaço) e se a tecla Ctrl está pressionada
  if (event.key === " " && event.ctrlKey) {
    // Coloque aqui o código que deseja executar quando a combinação de teclas Ctrl + Space for pressionada
    console.log("Combinação de teclas Ctrl + Space pressionada");

    document.getElementById("modal").showModal()
    
    // Evita o comportamento padrão do navegador para a tecla de espaço (opcional)
    event.preventDefault();
  }
});

</script>